/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#sidenav-overlay {
    z-index: 990;
}
.social-icons .btn {
  height: 75px;
  color: #333333;
}
.social-icons-text {
  display: block;
  color: #333333;
}
@media only screen and (max-width: 768px) {
  .social-icons-text {
    display: none;
  }
  .social-icons .btn {
    height: initial;
  }
}
